@use "../../variables.scss";

.sideBar{
    width: 15%;
    height: variables.$ht-100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: variables.$border-r5;
    position: fixed;
    z-index: 1;
    top: 3rem;
}


.user {
    width: variables.$wid-100;
    height:  variables.$ht-2;
    background-color: white;
    margin-top: 2px;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 1rem;
    border-radius: variables.$border-r5 0px;
    text-decoration: none;
}
.user:hover{
    background-color: variables.$primary-color1;
    color: white;
    cursor: pointer;
}
