@use "/src/variables";

.background {
    background-color: variables.$secondary-color;
    width:85%;
    height: 39rem;
    margin-top: 3rem;
    margin-left: 230px;
}
.background,.goBackIcon,.addUserData,.backBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addUserContainer {
    width: 98%;
    height: 38rem;
    background-color: variables.$bg-color2;
    display: block;
    border-radius: variables.$border-r10 0px;

    .header {
        width: variables.$wid_100;
        height: 4.5rem;
        display: flex;
        align-items: center;
        margin-left: 5px;

        .headingBox {
            display: flex;
            gap:0px 15px;
            height: variables.$ht-4;
            align-items: center;
        }

        .goBackIcon {
            border-radius: variables.$border-r25;
            width: 2rem;
            height: 2rem;
            background-color: rgb(236, 234, 234);
            font-size:medium;
            position: relative;
            bottom: 15px
        }
        .goBackIcon:hover{
            background-color: rgb(200, 199, 199);
            cursor: pointer;
        }

        .heading {
            width: fit-content;
            height: variables.$ht-2;
            font-family: sans-serif;
            font-size: x-large;
        }
    }

    .addUserData {
        height: 18rem;
        flex-wrap: wrap;
        column-gap: 10rem;

        .error {
            color: red;
            font-weight: bolder;
            font-size: 13px;
            font-family: sans-serif;
            margin-top: 10px;
        }

        .label {
            font-family: sans-serif;
            font-size: 1rem;
        }

        .image ,.name ,.designation ,.ratings {
            border: none;
            outline: none;
            width: 30rem;
            height: variables.$ht-2;
            text-align: center;
            margin-top: 5px;
            font-size: medium;
            box-shadow: 0 4px 8px 0 #9db8f37a, 0 6px 20px 0 rgba(0, 0, 0, -0.81);
        }
    }

    .btnBox {
        display: flex;
        justify-content: end;
        gap: 2rem;
        margin-top: 2rem;
        margin-right: 7rem;

        .backBtn {
            font-family: sans-serif;
            font-size: larger;
        }

        .backBtn:hover {
            color: variables.$primary-color1;
            cursor: pointer;
        }

        .btn {
            width: 6rem;
            height: variables.$ht-2;
            background-color: variables.$primary-color1;
            color: variables.$bg-color2;
            border-radius: variables.$border-r25;
            border-color: variables.$primary-color1;
            border: thin;
        }

        .btn:hover {
            background-color: variables.$bg-color2;
            color: variables.$primary-color1;
            border: 1px solid;
            cursor: pointer;
        }
    }

}