@use "/src/variables";

.loginBackground {
    width: variables.$wid-100vw;
    height: variables.$ht-100vh;
    // background: rgb(240, 81, 234);
    // background: linear-gradient(120deg, rgba(240, 81, 234, 1) 0%, rgba(211, 241, 255, 1) 50%, rgba(81, 82, 240, 1) 100%);

    background: rgb(81, 82, 240);
    background: linear-gradient(120deg, rgba(81, 82, 240, 1) 0%, rgba(211, 241, 255, 1) 50%, rgba(81, 82, 240, 1) 100%);

    // background: rgb(69, 70, 252);
    // background: linear-gradient(90deg, rgba(69, 70, 252, 1) 0%, rgba(29, 207, 253, 1) 50%, rgba(69, 70, 252, 1) 100%);
}

.loginBackground,
.loginHeader,
.getInputBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 25rem;
    height: 26rem;
    background-color: variables.$bg-color2;
    border-radius: variables.$border-r10;

    .loginHeader{
        width: variables.$wid_100;
        height: variables.$ht-5;
        border-bottom: 2px solid darkgray;

        .heading {
            font-family: sans-serif;
            font-size: 1.75rem;
            // background: linear-gradient(90deg, rgba(229,14,239,1) 0%, rgba(29,207,253,1) 50%, rgba(69,70,252,1) 100%);
            background: linear-gradient(90deg, rgba(69, 70, 252, 1) 0%, rgba(29, 207, 253, 1) 50%, rgba(69, 70, 252, 1) 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

    }

    .getInputBox {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3rem;
        gap: 1.5rem;
    }

    .userName,
    .password {
        font-family: sans-serif;
    }

    .userInput,
    .passwordInput {
        width: 15rem;
        height: variables.$ht-1-5;
        font-size: medium;
        border: none;
        outline: none;
        border-bottom: 2px solid variables.$border-black ;
        // background: linear-gradient(90deg, rgba(69, 70, 252, 1) 0%, rgba(29, 207, 253, 1) 50%, rgba(69, 70, 252, 1) 100%);
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        color:#5176f0;
    }

    .error{
        color:red;
        font-family: sans-serif;
        font-size: small;
    }

    .showForgetBox{
        margin-top: 8px;
        font-size: smaller;
        display: flex;
    }
    .forgetPassword{
        margin-left: 24px;
        text-decoration: none;
    }
    .isShowPassword:hover{cursor: pointer;}

    .signupBox ,.showForgetBox{
        font-family: sans-serif;
    }

    .btn {
        width: 6rem;
        height: variables.$ht-2 ;
        background-color:#5176f0;
        color: variables.$bg-color2;
        border-radius: variables.$border-r25;
        border-color: variables.$primary-color1;
        border: thin;
    }

    .btn:hover {
        background-color: variables.$bg-color2;
        color: variables.$primary-color1;
        border: 1px solid;
        cursor: pointer;
    }
}