@use '/src/variables.scss';
        .card {
            width: 22%;
            height: 22rem;
            background-color: variables.$bg-color2;
            border-radius: 8px;
            border: 4px solid white;

            .imagebox {
                width: variables.$wid-100;
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                .image {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
            }

            .rating {
                width: variables.$wid-100;
                height: 25%;
                text-align: center;

                .name {
                    font-size: large;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .designation {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    color: grey;
                }

                .btnBox {
                    display: flex;
                    justify-content: space-around;

                    .delete {
                        background-color: variables.$button-clr;
                        color: darkslategray;
                        width: 4.5rem;
                        height: 1.5rem;
                        font-size: medium;
                        border-radius: 5px;
                        border-color: variables.$button-clr;
                    }
                    .update {
                        background-color: variables.$button-clr;
                        color: darkslategray;
                        width: 4.5rem;
                        height: 1.5rem;
                        font-size: medium;
                        border-radius: 5px;
                        border-color: variables.$button-clr;
                    }
                    .delete:hover{
                        cursor: pointer;
                    } 
                    .update{
                        cursor: pointer;
                    }
                }

                .ratingIcon {
                    color: orange;
                }

                .change {
                    background-color: blue;
                    color: variables.$bg-color2;
                }
            }
        }
        .card:hover{
            border-color: variables.$primary-color1;
        }
    