@use '/src/variables.scss';
.contentder__cards__container {
    width: variables.$wid-100;
    display: flex;
    justify-content: center;

    .search__not__found {
        display: block;
    }

    .contentder__cards__box {
        width: 84%;
        display: flex;
        gap: 51px 40px;
        flex-wrap: wrap;

        .contentder__cards {
            width: 22%;
            height: 22rem;
            background-color: variables.$bg-color2;
            border-radius: 8px;
            border: 4px solid white;

            .contentder__cards__imagebox {
                width: variables.$wid-100;
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                .contentder__cards__image {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
            }

            .contentder__card__name__rating {
                width: variables.$wid-100;
                height: 30%;
                text-align: center;

                .contentder__card__name {
                    font-size: large;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .contentder__card__designation {
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    color: grey;
                }

                .remove__update__button {
                    display: flex;
                    justify-content: space-around;

                    .removeCard {
                        background-color: variables.$button-clr;
                        color: darkslategray;
                        width: 4.5rem;
                        height: 1.5rem;
                        font-size: medium;
                        border-radius: 5px;
                        border-color: variables.$button-clr;
                    }
                    .updateCard {
                        background-color: variables.$button-clr;
                        color: darkslategray;
                        width: 4.5rem;
                        height: 1.5rem;
                        font-size: medium;
                        border-radius: 5px;
                        border-color: variables.$button-clr;
                    }
                    .removeCard:hover{
                        cursor: pointer;
                    } 
                    .updateCard{
                        cursor: pointer;
                    }
                }

                .checked {
                    color: orange;
                }

                .change {
                    background-color: blue;
                    color: variables.$bg-color2;
                }
            }
        }
        .contentder__cards:hover{
            border-color: variables.$primary-color1;
        }
    }

}