@use "/src/variables";

.headerComponent {
    background-color: variables.$bg-color2;
    width: variables.$wid_100;
    height: variables.$ht-4;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header {
    width: variables.$wid_100;
    height: variables.$ht-4;
    display: flex;
    justify-content: space-between;

    .left {
        width: 11rem;
        height: variables.$ht-4;
        display: flex;
        align-items: center;
        margin-left: 3rem;
        justify-content: space-between;

        .logo {
            width: 3rem;
            height: variables.$ht-2-5;
        }

        .leftHeading {
            font-family: sans-serif;
        }
    }

    .right {
        width: 31rem;
        height: variables.$ht-4;
        display: flex;
        gap: 2rem;

        .routeBox {
            display: flex;
            height: variables.$ht-4;
            gap: 1.5rem;

            .routeLink {
                height: variables.$ht-4;
                display: flex;
                align-items: center;

                .routingLink {
                    font-family: sans-serif;
                    font-size: 14px;
                }
            }

            .routeLink:hover {
                height: variables.$ht-3-8;
                border-bottom: 4px solid variables.$primary-color1;
                cursor: pointer;
            }
        }
    }
}
.btnBox {
    display: flex;
    align-items: center;
  
    .loginBtn {
        width: 5rem;
        height: variables.$ht-2;
        background-color: variables.$primary-color1;
        color: variables.$bg-color2;
        border-radius: variables.$border-r25;
        border-color: variables.$primary-color1;
        border: thin;
    }
  
    .loginBtn:hover {
        background-color: variables.$bg-color2;
        color: variables.$primary-color1;
        border: 1px solid;
        cursor: pointer;
    }
  }