@use '/src/variables';

.header__component {
    background-color: variables.$bg-color2;
    width: variables.$wid_100;
    height: variables.$ht-4;
}

.header {
    width: variables.$wid_100;
    height: variables.$ht-4;
    display: flex;
    justify-content: space-between;

    .header__left {
        width: 11rem;
        height: variables.$ht-4;
        display: flex;
        align-items: center;
        margin-left: 3rem;
        justify-content: space-between;

        .header__left__image {
            width: 3rem;
            height: variables.$ht-2-5;
        }

        .header__left__head {
            font-family: sans-serif;
        }
    }

    .header__right {
        width: 31rem;
        height: variables.$ht-4;
        display: flex;
        gap: 2rem;

        .header__right__routebox {
            display: flex;
            height: variables.$ht-4;
            gap: 1.5rem;

            .header__right__route__links {
                height: variables.$ht-4;
                display: flex;
                align-items: center;

                .header__right__route__link {
                    font-family: sans-serif;
                    font-size: 14px;
                }
            }

            .header__right__route__links:hover {
                height: variables.$ht-3-8;
                border-bottom: 4px solid variables.$primary-color1;
                cursor: pointer;
            }
        }
    }
}
.header__right__button {
    display: flex;
    align-items: center;
  
    .header__right__login__button {
        width: 5rem;
        height: variables.$ht-2;
        background-color: variables.$primary-color1;
        color: variables.$bg-color2;
        border-radius: variables.$border-r25;
        border-color: variables.$primary-color1;
        border: thin;
    }
  
    .header__right__login__button:hover {
        background-color: variables.$bg-color2;
        color: variables.$primary-color1;
        border: 1px solid;
        cursor: pointer;
    }
  }