@use "/src/variables";

.headerComponent {
    background-color: variables.$bg-color2;
    width: variables.$wid_100;
    height: variables.$ht-3;
    position: fixed;
    z-index: 2;
}
.left,.right,.profileNameImg{
    display: flex;
    align-items: center;
}
.header {
    width: variables.$wid_100;
    height: variables.$ht-3;
    display: flex;
    justify-content: space-between;

    .left {
        width: 11rem;
        height: variables.$ht-3;
        margin-left: 3rem;
        gap: 4px;

        .logo {
            width: 2.5rem;
            height: variables.$ht-2;
        }

        .leftHeading {
            font-family: sans-serif;
        }
    }

    .right {
        height: variables.$ht-3;
        margin-right: 1rem;
        gap: 5px;

        .profileNameImg{
            column-gap: 5px;
            height: variables.$ht-3;
            .profileImg{
                width: 2rem;
                height: variables.$ht-2;
                border-radius: 25px;
            }
            .profileImg:hover{
                cursor: pointer;
            }
            .profileName{
                margin:0px 0px 0px 0px;
                font-family: sans-serif;
            }
        }
    }
}