//specified blue-color
$primary-color1:#5152F0;
//body-color
$secondary-color:#EDF1FA;
//border color
$border-black:black;

$bg-color2:white;

$close-clr: rgb(219, 219, 219);
$button-clr:#9db8f3;

$wid-100:100%;
$ht-100:100%;

//ht(1-10)rem
$ht-1: 1rem;
$ht-2:2rem;
$ht-3:3rem;
$ht-4:4rem;
$ht-5:5rem;
$ht-6:6rem;
$ht-7:7rem;
$ht-8:8rem;
$ht-9:9rem;
$ht-10:10rem;
$ht-2-5:2.5rem;
$ht-3-8:3.8rem;
$ht-3-5:3.5rem;

//border radius
$border-r25:25px;
$border-r10:10px;