@use "../../variables.scss";

.mainContent {
    display: block;
    width: 85%;
    margin-top: 3rem;
    margin-left: 230px;
    overflow-y: auto;
    overflow-x: hidden;
}

.headingSearchContainer {
    width: variables.$wid_100;
    height: 13.5rem;

    .headingBox {
        width: variables.$wid_100;
        height: variables.$ht-7;
        display: flex;
        align-items: center;
        justify-content: center;

        .heading {
            height: variables.$ht-2;
            font-size: xx-large;
            font-family: sans-serif;
            padding-top: 1rem;
        }
    }

    .searchAddUser {
        width: variables.$wid_100;
        height: variables.$ht-3;
        display: flex;
        justify-content: center;
        gap: 1rem;

        .searchBar {
            width: 75%;
            height: variables.$ht-3;
            background-color: variables.$bg-color2;
            display: flex;
            border-radius: variables.$border-r10;

            .searchIcon {
                width: 5%;
                display: flex;
                align-items: center;
                font-size: x-large;
                justify-content: center;
            }

            .searchBox {
                width: 95%;

                .search {
                    width: 99%;
                    height: variables.$ht-3;
                    border: none;
                    outline: none;
                    font-size: medium;
                }
            }

        }

        .addUserBtnBox {
            width: 8%;
            height: variables.$ht-3;

            .addUserBtn {
                width: variables.$wid_100;
                height: variables.$ht-3;
                background-color: variables.$bg-color2;
                border: none;
                border-radius: variables.$border-r10;
                font-size: medium;
            }

            .addUserBtn:hover {
                cursor: pointer;
                background-color: variables.$primary-color1;
                color: white;
            }
        }

        .userSort {
            display: flex;
            align-items: center;
            font-size: x-large;
            gap: 10px;
            color: grey;
        }
        .userSort:hover{
            cursor: pointer;
        }
    }

}

.cardContainer {
    width: variables.$wid-95;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 15px;
    margin-left: 40px;

    .search__not__found {
        display: none;
    }
}